[submodule "third-party/vllm-omni-skills"]
	path = third-party/vllm-omni-skills
	url = https://github.com/hsliuustc0106/vllm-omni-skills.git
[submodule "third-party/anthropics-skills"]
	path = third-party/anthropics-skills
	url = https://github.com/anthropics/skills.git
[submodule "third-party/orchestra-ai-research-skills"]
	path = third-party/orchestra-ai-research-skills
	url = https://github.com/orchestra-research/ai-research-skills.git
[submodule "third-party/pua"]
	path = third-party/pua
	url = https://github.com/tanweai/pua.git
[submodule "third-party/frontend-slides"]
	path = third-party/frontend-slides
	url = https://github.com/zarazhangrui/frontend-slides.git
[submodule "third-party/humanizer"]
	path = third-party/humanizer
	url = https://github.com/blader/humanizer.git
[submodule "third-party/humanizer-zh"]
	path = third-party/humanizer-zh
	url = https://github.com/op7418/Humanizer-zh.git
